/* HTML Element decoration */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * :focus {
    outline: none !important; }

html, body {
  background-color: #ebebeb;
  font-family: sans-serif;
  color: black; }

body {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 12px; }

label {
  color: inherit; }

input, textarea, select {
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  line-height: 1.5em;
  vertical-align: middle;
  font-size: 100%;
  max-width: 100%; }

input, textarea, label {
  padding: 3px 10px; }

select {
  padding: 5px 10px; }

form.main input, form.main textarea, form.main select {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  line-height: 2em;
  font-size: 120%; }

form.main button, form.main .btn {
  height: 2.5em;
  line-height: 2.5em; }

button, .btn {
  display: inline-block;
  height: 2em;
  margin-right: 10px;
  margin-bottom: 6px;
  padding: 0 1.25em;
  border: 1px solid #0063b1;
  border-radius: 2em;
  background-color: white;
  line-height: 2em;
  font-weight: bold;
  color: #0063b1;
  font-size: 100%;
  cursor: pointer; }
  button.wide, .wide.btn {
    padding: 0 3.5em; }
  button:hover, .btn:hover {
    background-color: #ebebeb; }
  button.invert:hover, .invert.btn:hover {
    background-color: #0063b1;
    color: white; }
  button.disabled, .disabled.btn {
    background-color: #ebebeb;
    cursor: default; }
  button.solid, .solid.btn {
    border: none;
    background-color: #0063b1;
    color: white; }
    button.solid:hover, .solid.btn:hover {
      background-color: rgba(0, 99, 177, 0.8); }
    button.solid.disabled, .solid.disabled.btn {
      background-color: rgba(0, 99, 177, 0.8); }

h1, h2, h3 {
  margin-bottom: 12px; }

hr {
  max-width: 80%;
  margin: 12px auto;
  border: none;
  border-bottom: 1px dotted black; }

a {
  text-decoration: none; }

p {
  margin-bottom: 8px; }

footer {
  padding: 30px;
  color: darkgrey; }

/* Class decoration */
.clear::after {
  content: "";
  display: table;
  clear: both; }

.text-center {
  text-align: center; }

.float-left {
  float: left; }

.flexbox {
  display: flex; }
  .flexbox.center {
    justify-content: center; }
  .flexbox.column {
    flex-direction: column; }
  .flexbox.wrap {
    flex-wrap: wrap; }

.only-desktop {
  display: none !important; }

.pagination {
  overflow-y: hidden;
  overflow-x: auto; }
  .pagination li {
    list-style: none; }

.content-box {
  display: block;
  margin: 15px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.04); }

/* ID decoration */
#main-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: serif; }

#search-form {
  margin: 20px auto;
  width: 100%; }

#results {
  width: 100%; }

#movie-list li {
  list-style: none; }
  #movie-list li .movie-img {
    margin-right: 12px;
    margin-bottom: 8px;
    border-radius: 5px; }
  #movie-list li .movie-info {
    overflow: hidden; }

#no-results {
  color: #da3b01; }
  #no-results hr {
    border-color: #a72d01; }

#tmdb-logo {
  width: 180px;
  margin: 12px;
  opacity: .3; }

/* Tablet & desktop */
@media all and (min-width: 520px) {
  /* HTML Element decoration */
  body {
    padding: 0; }
  /* ID decoration */
  #main-title {
    margin-top: 50px; }
  #search-form.main {
    max-width: 100%;
    width: 500px; }
  /* Class decoration */
  .only-desktop {
    display: unset; } }

/* Desktop */
@media all and (min-width: 960px) {
  /* Class decoration */
  .hide-desktop {
    display: none !important; }
  .content-box {
    margin: 30px;
    padding: 30px; } }
